//Main colors
$bg-color-1000: var(--bg-color-1000);
$bg-color-900: var(--bg-color-900);
$bg-color-800: var(--bg-color-800);
$bg-color-700: var(--bg-color-700);
$bg-color-600: var(--bg-color-600);
$bg-color-500: var(--bg-color-500);
$bg-color-400: var(--bg-color-400);
$bg-color-300: var(--bg-color-300);
$bg-color-200: var(--bg-color-200);
$bg-color-100: var(--bg-color-100);
$bg-color-0: var(--bg-color-0);

$primary-color-900: var(--primary-color-900);
$primary-color-800: var(--primary-color-800);
$primary-color-700: var(--primary-color-700);
$primary-color-600: var(--primary-color-600);
$primary-color-500: var(--primary-color-500);
$primary-color-400: var(--primary-color-400);
$primary-color-300: var(--primary-color-300);
$primary-color-200: var(--primary-color-200);
$primary-color-100: var(--primary-color-100);

$error-color-800: var(--error-color-800);
$error-color-900: var(--error-color-900);
$error-color-700: var(--error-color-700);
$error-color-600: var(--error-color-600);
$error-color-500: var(--error-color-500);
$error-color-400: var(--error-color-400);
$error-color-300: var(--error-color-300);
$error-color-200: var(--error-color-200);
$error-color-100: var(--error-color-100);
$error-color-050: var(--error-color-050);



$divider-color: $bg-color-800;

// Text colors
$text-primary: var(--text-primary);
$text-secondary: var(--text-secondary);
$text-tertiary: var(--text-tertiary);
$text-disabled: var(--text-disabled);
$text-quaternary: var(--text-quaternary);
