@use 'scss-reset';

:root {
    --bg-color-1000: #000000;
    --bg-color-900: #141C25;
    --bg-color-850: #131b23;
    --bg-color-800: #202B37;
    --bg-color-700: #344051;
    --bg-color-600: #414E62;
    --bg-color-500: #637083;
    --bg-color-400: #97A1AF;
    --bg-color-300: #CED2DA;
    --bg-color-200: #E4E7EC;
    --bg-color-100: #F2F4F7;
    --bg-color-0: #FFF;

    --primary-color-900: #831843;
    --primary-color-800: #9D174D;
    --primary-color-700: #BE185D;
    --primary-color-600: #DB2777;
    --primary-color-500: #EC4899;
    --primary-color-400: #F472B6;
    --primary-color-300: #F9A8D4;
    --primary-color-200: #FBCFE8;
    --primary-color-100: #FCE7F3;

    --error-color-900: #790C0C;
    --error-color-800: #B01111;
    --error-color-700: #DE1212;
    --error-color-600: #F62C2C;
    --error-color-500: #FF4D4D;
    --error-color-400: #FF6666;
    --error-color-300: #FF8585;
    --error-color-200: #FFA3A3;
    --error-color-100: #FFC2C2;
    --error-color-050: #FFE5E5;

    --text-primary: #FFF;
    --text-secondary: #CED2DA;
    --text-tertiary: #637083;
    --text-disabled: #344051;
    --text-quaternary: #141C25;

    --green-color-900: #14532D;
    --green-color-800: #166534;
    --green-color-700: #15803D;
    --green-color-600: #16A34A;
    --green-color-500: #22C55E;
    --green-color-400: #4ADE80;
    --green-color-300: #86EFAC;
    --green-color-200: #BBF7D0;
    --green-color-100: #DCFCE7;
    --green-color-050: #F0FDF4;

    --yellow-color-900: #78350F;
    --yellow-color-800: #92400E;
    --yellow-color-700: #B45309;
    --yellow-color-600: #D97706;
    --yellow-color-500: #F59E0B;
    --yellow-color-400: #FBBF24;
    --yellow-color-300: #FCD34D;
    --yellow-color-200: #FDE68A;
    --yellow-color-100: #FEF3C7;
    --yellow-color-050: #FFFBEB;

    
    --violet-color-900: #4C1D95;
    --violet-color-800: #5B21B6;
    --violet-color-700: #6D28D9;
    --violet-color-600: #7C3AED;
    --violet-color-500: #8B5CF6;
    --violet-color-400: #A78BFA;
    --violet-color-300: #C4B5FD;
    --violet-color-200: #DDD6FE;
    --violet-color-100: #EDE9FE;
    --violet-color-050: #F5F3FF;
}

.light-mode {
    --bg-color-1000: #FFF;
    --bg-color-900: #F2F4F7;
    --bg-color-800: #E4E7EC;
    --bg-color-700: #CED2DA;
    --bg-color-600: #97A1AF;
    --bg-color-500: #637083;
    --bg-color-400: #414E62;
    --bg-color-300: #344051;
    --bg-color-200: #202B37;
    --bg-color-100: #141C25;
    --bg-color-0: #141C25;

    --primary-color-900: #FCE7F3;
    --primary-color-800: #FBCFE8;
    --primary-color-700: #F9A8D4;
    --primary-color-600: #F472B6;
    --primary-color-500: #EC4899;
    --primary-color-400: #DB2777;
    --primary-color-300: #BE185D;
    --primary-color-200: #9D174D;
    --primary-color-100: #831843;

    --error-color-900: #FFC2C2;
    --error-color-800: #FFA3A3;
    --error-color-700: #FF8585;
    --error-color-600: #FF6666;
    --error-color-500: #FF4D4D;
    --error-color-400: #F62C2C;
    --error-color-300: #DE1212;
    --error-color-200: #B01111;
    --error-color-100: #790C0C;
    --error-color-050: #610808;

    --green-color-900: #F0FDF4;
    --green-color-800: #DCFCE7;
    --green-color-700: #BBF7D0;
    --green-color-600: #86EFAC;
    --green-color-500: #4ADE80;
    --green-color-400: #22C55E;
    --green-color-300: #16A34A;
    --green-color-200: #15803D;
    --green-color-100: #166534;
    --green-color-050: #14532D;

    --yellow-color-900: #FFFBEB;
    --yellow-color-800: #FEF3C7;
    --yellow-color-700: #FDE68A;
    --yellow-color-600: #FCD34D;
    --yellow-color-500: #FBBF24;
    --yellow-color-400: #F59E0B;
    --yellow-color-300: #D97706;
    --yellow-color-200: #B45309;
    --yellow-color-100: #92400E;
    --yellow-color-050: #78350F;
    
    --violet-color-900: #F5F3FF;
    --violet-color-800: #EDE9FE;
    --violet-color-700: #DDD6FE;
    --violet-color-600: #C4B5FD;
    --violet-color-500: #A78BFA;
    --violet-color-400: #8B5CF6;
    --violet-color-300: #7C3AED;
    --violet-color-200: #6D28D9;
    --violet-color-100: #5B21B6;
    --violet-color-050: #4C1D95;


    --text-primary: #141C25;
    --text-secondary: #344051;
    --text-tertiary: #637083;
    --text-disabled: #CED2DA;
    --text-quaternary: #FFF;

}

@import "./colors.scss";

body {
    min-height: 100vh;
    color: $text-primary;
    background-color: $bg-color-1000 !important;
}

footer {
    cursor: default;
    margin-left: 1.4rem;
    color: $text-tertiary;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.9rem;
    position: fixed;
    bottom: 0px;

    a {
        text-decoration: none;
        color: $text-tertiary;
        cursor: pointer;

        &:hover {
            color: $text-secondary;
        }
    }
}
