@use "../styles/colors.scss";

$bg: colors.$bg-color-1000;
$textColor: colors.$text-primary;
$accent: colors.$primary-color-600;
$inputBg: colors.$bg-color-800;
$inputBorder: colors.$bg-color-700;
$dangerLow: colors.$green-color-600; ;
$dangerMed: colors.$yellow-color-500;
$dangerHigh: colors.$error-color-700;
$dangerExtreme: colors.$primary-color-700;

.container {
  padding: 16px;
  border-radius: 8px;
  max-width: 500px;
  margin: 0 auto;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 12px;
  color: $textColor;
  text-align: center;
}

.controls {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
  flex-wrap: wrap;
}

.searchInput {
  flex: 1;
  padding: 10px;
  font-size: 1rem;
  border: 2px solid $inputBorder;
  border-radius: 4px;
  background: $inputBg;
  color: $textColor;
  outline: none;
  transition: border-color 0.3s ease;

  &:focus {
    border-color: $accent;
  }
}

.selectInput {
  padding: 10px;
  font-size: 1rem;
  border: 2px solid $inputBorder;
  border-radius: 4px;
  background: $inputBg;
  color: $textColor;
  outline: none;
  transition: border-color 0.3s ease;

  &:focus {
    border-color: $accent;
  }
}

.resultsList {
  height: fit-content;
    max-height: 28rem;
    min-height: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  height: 43em;

  /* Custom scrollbar styles */
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-track {
    background: $inputBg;
    
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $accent;
    border-radius: 4px;
  }


  .dangerLevel {
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 0.8rem;
    text-transform: uppercase;

    &--low { background: $dangerLow; color: #000; }
    &--medium { background: $dangerMed; color: #000; }
    &--high { background: $dangerHigh; }
    &--extreme { background: $dangerExtreme; }
  }

}

.resultItem {
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 4px;
  background: $inputBg;
  color: $textColor;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: space-between;
  cursor: pointer;
  transition: background 0.3s ease;

  &:hover {
    background: $inputBg
  }
}

.enemyName {
  font-weight: bold;
  margin-right: 8px;
}
