@use "./styles/typography";
@use "./styles/colors.scss";

.app {
  display: flex;
  box-sizing: border-box;
  box-sizing: border-box;
  background: colors.$bg-color-1000;
  position: relative;
  overflow: auto;
  min-height: 100vh;
  /* Subtle grid lines */
  background-image: linear-gradient(colors.$bg-color-900 1px, transparent 1px),
    linear-gradient(90deg, colors.$bg-color-900 1px, transparent 1px);
  background-size: 20px 20px;

  &.rightAlign {
    flex-flow: row-reverse;
  }
}
